.test {
    display: flex;
}
.test-info {
    margin-top: 11vw;
    margin-bottom: 2vw;
}
.test-info-title {
    font-size: 1.7vw;
    color: #2D3748;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    line-height: 1.5vw;
    font-style: normal;
    margin-bottom: 2vw;
}
.test-info-page {
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    line-height: 1.5vw;
    font-style: normal;
}
.container-test-info {
    margin-top: 2vw;
}
.task-test-title {
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5vw;
    font-style: normal;
    margin: 2vw 0;
}
.container-task-test {
    display: grid;
    grid-template-columns: 34.5vw auto;
    grid-template-rows: 6vw;
}
.task-test-option {
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5vw;
    font-style: normal;
    background-color: #F6F7FB;
    width: 31vw;
    height: 4vw;
    border-radius: 0.3vw;
    display: flex;
    align-items: center;
    padding-left: 2vw;
    cursor: pointer;
}
.next-task {
    width: 14vw;
    height: 4vw;
    background-color: #3877EE;
    color: white;
    display: flex;
    align-items:center;
    justify-self: center;
    font-size: 0.8vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5vw;
    font-style: normal;
    border-radius: 0.3vw;
    margin-top: 3vw;
    margin-bottom: 3vw;
    cursor: pointer;
}
.next-task span {
    text-align: center;
    width: 100%;
    cursor: pointer;
}
.modal-window-test {
    width: 100%;
    height: 100%;
    position: fixed; 
    background-color: rgba(0, 0, 0, 0.45);
    display: flex;
    justify-content: center; 
    align-items: center; 
    top: 0;
    left: 0;
    z-index: 9999;
}

.modal-window-test-info {
    width: 23vw;
    height: 11.5vw;
    background-color: white;
    border-radius: 0.3vw;
    display: flex;
    flex-direction: column;
    padding: 1vw; 
    box-sizing: border-box;
}
.modal-window-test-info h1 {
    font-size: 1.1vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 700;
    line-height: 1.5vw;
    font-style: normal;
}
.modal-window-test-info-text {
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5vw;
    font-style: normal;
    font-size: 0.8vw;
    margin: 0.8vw 0;
    display: flex;
}
.modal-window-test-info p {
    font-weight: 700;
    margin-right: 0.2vw;
}
.exit-task-test {
    height: 2vw;
    width: 7vw;
    background-color: #3877EE;
    color: white;
    font-size: 0.8vw;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    line-height: 1.5vw;
    font-style: normal;
    border-radius: 0.3vw;
    cursor: pointer;
}
.exit-task-text-test {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
}

@media (max-width: 480px) {
    .test-info {
        margin-top: 77px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 100%;
    }
    .test-info-title {
        font-size: 20px;
        margin-right: 165px;
    }
    .test-info-page {
        font-size: 16px;
        margin: 15px 243px 15px 0;
    }
    .task-test-title {
        font-size: 16px;
        margin-bottom: 20px;
    }
    .container-task-test {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .task-test-option {
        width: 280px;
        height: 70px;
        font-size: 16px;
        margin-bottom: 10px;
        border-radius: 8px;
    }
    .next-task {
        width: 165px;
        height: 38px;
        font-size: 16px;
        border-radius: 8px;
        margin-right: 128px;
    }
    .modal-window-test-info {
        width: 280px;
        height: 213px;
        display: flex;
        justify-content: center;
        padding-left: 21px;
    }
    .modal-window-test-info h1 {
        font-size: 20px;
    }
    .modal-window-test-info-text {
        font-size: 16px;
        margin: 31px 0;
    }
    .exit-task-test {
        width: 142px;
        height: 38px;
        font-size: 16px;
        border-radius: 8px;
    }
    .exit-task-text-test {
        height: 100%;
    }
}
