.created-modules-title-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 6vw;
    margin-bottom: 2vw;
}
.created-modules-button {
    width: 8vw;
    height: 1.5vw;
    text-decoration: none;
    color: #fff;
    font-size: 1vw;
    background-color: #3877EE;
    padding: 0.5vw 0.9vw;
    border-radius: 0.2vw;
    cursor: pointer;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
    display: flex;
    justify-content: center;
    align-items:center;
}
.created-modules-title {
    font-size: 1.7vw;
    color: #2D3748;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 800;
    line-height: 1.5vw;
    font-style: normal;
}
.container-created-modules {
    display: grid;
    grid-template-columns: 21.5vw 21.5vw auto;
    grid-template-rows: 13vw 13vw auto;
}
.block-created-module {
    width: 18.2vw;
    height: 10.2vw;
    background-color: #F6F7FB;
    padding: 1vw;
    border-radius: 0.6vw;
}
.block-created-module1 {
    height: 12.2vw;
}
.container-created-modules a{
    text-decoration: none;
}
.block-created-module-title {
    font-size: 1.3vw;
    color: #3877EE;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
}
.block-created-module-line {
    width: 0.1vw;
    height: 1.2vw;
    background-color: #2D3748;
    margin: 0 0.6vw;
}
.block-created-module-date {
    display: flex;
    align-items: center;
    margin: 2vw 0;
}
.block-created-module-info {
    font-size: 1vw;
    color: #2D3748;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
}
.block-created-module-cell {
    font-size: 0.8vw;
    color: white;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
    background-color: #3877EE;
    width: 7vw;
    height: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.2vw;
    cursor: pointer;
}

.full-modules-textField .css-cmpglg-MuiFormControl-root-MuiTextField-root{
    width: 28vw;
    border: 0.1vw solid #3877EE;
    border-radius: 0.3vw;
    
}
.full-modules-textField .css-1blp12k-MuiInputBase-root-MuiOutlinedInput-root {
    font-size: 1vw;
    color: #2D3748;
    font-family: "Nunito", serif;
    font-optical-sizing: auto;
    font-weight: 600;
    line-height: 1.5vw;
    font-style: normal;
    height: 1vw;
}
.block-created-module-cell1 {
    background-color: red;
    margin-top: 0.6vw;
}

@media (max-width: 480px) {
    .created-modules-title {
        font-size: 16px;
        width: 237px;;
    }
    .created-modules-title-button {
        width: 228px;
        display: ruby;
        height: 30px;
        flex-direction: column;
    }
    .created-modules-button {
        width: 100px;
        border-radius: 4px;
        height: 27px;
        font-size: 12px;
        margin-top: 11px;
        margin-left: 179px;
        margin-bottom: 14px;
    }
    .full-modules-textField {
        margin-bottom: 20px;
    }
    .container-created-modules {
        display: block;
    }
    .block-created-module {
        width: 280px;
        height: 177px;
        margin-bottom: 19px;
        border-radius: 8px;
        padding-top: 20px;
    }
    .block-created-module-title {
        font-size: 20px;
        margin-left: 20px;
        margin-top: 10px;
    }
    .block-created-module-line {
        display: none;
    }
    .block-created-module-date {
        display: flex;
        flex-direction: column;
        align-items:baseline;
    }
    .block-created-module-info {
        margin-bottom: 15px;
        font-size: 16px;
        margin-left: 20px;
    }
    .block-created-module-cell {
        width: 92px;
        height: 38px;
        font-size: 16px;
        border-radius: 4px;
        margin-left: 20px;
    }
}